# *WEBSCRAPING ASSIGNMENT -2*

In [3]:
# importing all required dependencies
import requests
from bs4 import BeautifulSoup as bs
import selenium as sn
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys

## Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name,  experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” 
in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [34]:
# define function to input search designation & scrape data
def q_1(url):
    driver = webdriver.Chrome(r"C:\Users\clear\Desktop\webdriver\chromedriver_win32\chromedriver.exe") # Calling webdriver
    driver.get(url)
    time.sleep(3)
    search_modify = driver.find_element_by_xpath("//span[@class = 'quick-search-bar__view__modify-link']")
    search_modify.click()
    design = input('Enter the job_title you are look for:')
    search_job = driver.find_element_by_id('qsb-keyword-sugg')
    search_job.send_keys(design)
    search_location = driver.find_element_by_id('qsb-location-sugg')
    search_location.clear()
    search_location.send_keys('Bangalore')
    search_btn = driver.find_element_by_xpath("//button[@class = 'btn-primary']")
    search_btn.click()
    time.sleep(3)
    
    #scraping required data & making a list of these
    post_name = []
    company_name=[]
    experience_required=[]
    p_name = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
    job_loc = driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']")
    com_name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
    exp = driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']")
    for i in p_name[0:10]:
        post_name.append(i.text)

    for i in com_name[0:10]:
        company_name.append(i.text)
    
    for i in job_loc[0:30]:
        experience_required.append(i.text)
        
    driver.close()  
    df = pd.DataFrame({})# creating data frame
    df['job_title'] = post_name[0:10]
    df['job_location'] = experience_required[2::3][0:10]
    df['company_name']= company_name[0:10]
    df['experience_required'] = experience_required[0::3][0:10]
    df.to_csv('A_2_Q1.csv') # exporting data frame as csv file
    return(df) # returing the created data frame from the function

In [36]:
# calling the function to scrape data for Data Analyst
q_1('https://www.naukri.com/jobs-in-india')

Enter the job_title you are look for:Data Analyst

,job_title,job_location,company_name,experience_required
0,Azure Data Analyst,Bangalore/Bengaluru,Capgemini Technology Services India Limited,6-8 Yrs
1,Data Analyst,Bangalore/Bengaluru,"RedLock, Inc",0-0 Yrs
2,Data Analyst,Bangalore/Bengaluru(Devalapur),Super India Tech Mark,0-2 Yrs
3,Data Analyst,Bangalore/Bengaluru,tech mahindra ltd,4-8 Yrs
4,Data Analyst,Bangalore/Bengaluru,CONDUENT BUSINESS SERVICES INDIA LLP,1-2 Yrs
5,Data Analyst,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,2-7 Yrs
6,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
7,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-8 Yrs
8,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-8 Yrs
9,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-8 Yrs

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [35]:
#calling the above function to scrape data for Data Scientist post
q_1('https://www.naukri.com/jobs-in-india')

Enter the job_title you are look for:Data Scientist

,job_title,job_location,company_name,experience_required
0,Data Scientist,Bangalore/Bengaluru,CronJ IT Technologies Private Limited,0-1 Yrs
1,Opportunity For Data Scientist Internship - Be...,Bangalore/Bengaluru,Corner Stone Solutions,0-1 Yrs
2,Data Scientist - Machine Learning,Bangalore/Bengaluru,AugmatrixGo,2-5 Yrs
3,Data Scientist || Data Analyst || Data science,"Navi Mumbai, Bangalore/Bengaluru",Inspiration Manpower Consultancy Pvt. Ltd.,6-11 Yrs
4,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,5-8 Yrs
5,GAMMA Lead Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,7-12 Yrs
6,DBCG IND - GAMMA Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,6-10 Yrs
7,Data Scientist/Senior Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,4-8 Yrs
8,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CES Ltd.,2-7 Yrs
9,Global Medical Data Scientist,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,5-10 Yrs

In [37]:
# Scraping data for Data scientist post using different function
def q_2(url):
    driver = webdriver.Chrome(r"C:\Users\clear\Desktop\webdriver\chromedriver_win32\chromedriver.exe") # Calling webdriver
    driver.get(url)
    time.sleep(3)
    search_modify = driver.find_element_by_xpath("//span[@class = 'quick-search-bar__view__modify-link']")
    search_modify.click()
    search_job = driver.find_element_by_id('qsb-keyword-sugg')
    search_job.send_keys('Data Scientist')
    search_location = driver.find_element_by_id('qsb-location-sugg')
    search_location.clear()
    search_location.send_keys('Bangalore')
    search_btn = driver.find_element_by_xpath("//button[@class = 'btn-primary']")
    search_btn.click()
    time.sleep(3)
    
    # Scraping required data and making list of each required feature
    post_name = []
    company_name=[]
    experience_required=[]
    p_name = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
    job_loc = driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']")
    com_name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
    exp = driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']")
    for i in p_name[0:10]:
        post_name.append(i.text)

    for i in com_name[0:10]:
        company_name.append(i.text)
    
    for i in job_loc[0:30]:
        experience_required.append(i.text)
        
    driver.close()  
    df = pd.DataFrame({})# creating data frame
    df['job_title'] = post_name[0:10]
    df['job_location'] = experience_required[2::3][0:10]
    df['company_name']= company_name[0:10]
    df['experience_required'] = experience_required[0::3][0:10]
    df.to_csv('A_2_Q2.csv') # exporting data frame as csv file
    return(df) # returing the created data frame from the function
    
# calling function to scrape data   
q_2('https://www.naukri.com/jobs-in-india')

,job_title,job_location,company_name,experience_required
0,Data Scientist,Bangalore/Bengaluru,CronJ IT Technologies Private Limited,0-1 Yrs
1,Opportunity For Data Scientist Internship - Be...,Bangalore/Bengaluru,Corner Stone Solutions,0-1 Yrs
2,Data Scientist - Machine Learning,Bangalore/Bengaluru,AugmatrixGo,2-5 Yrs
3,Data Scientist || Data Analyst || Data science,"Navi Mumbai, Bangalore/Bengaluru",Inspiration Manpower Consultancy Pvt. Ltd.,6-11 Yrs
4,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,5-8 Yrs
5,GAMMA Lead Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,7-12 Yrs
6,DBCG IND - GAMMA Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,6-10 Yrs
7,Data Scientist/Senior Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,4-8 Yrs
8,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CES Ltd.,2-7 Yrs
9,Global Medical Data Scientist,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,5-10 Yrs

## Q3: In this question you have to scrape data using the filters available on the webpage as shown below: You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data

In [40]:
# Define function
def q_3(url):
    driver = webdriver.Chrome(r"C:\Users\clear\Desktop\webdriver\chromedriver_win32\chromedriver.exe") # calling driver
    driver.get(url) # loading url
    search_modify = driver.find_element_by_xpath("//span[@class = 'quick-search-bar__view__modify-link']")
    search_modify.click()
    search_job = driver.find_element_by_id('qsb-keyword-sugg')
    search_job.send_keys('Data Scientist')
    search_location = driver.find_element_by_id('qsb-location-sugg')
    search_location.clear()
    search_btn = driver.find_element_by_xpath("//button[@class = 'btn-primary']")
    search_btn.click()
    time.sleep(3)
    filter_loc = driver.find_element_by_xpath("//span[@title= 'Delhi / NCR']")
    filter_loc.click()
    time.sleep(3)
    sal_range = driver.find_element_by_xpath("//span[@title= '3-6 Lakhs']")
    sal_range.click()
    time.sleep(3)
    # Scraping required data and making list of each required feature
    post_name = []
    company_name=[]
    experience_required=[]
    p_name = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
    job_loc = driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']")
    com_name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
    exp = driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']")
    for i in p_name[0:10]:
        post_name.append(i.text)

    for i in com_name[0:10]:
        company_name.append(i.text)
    
    for i in job_loc[0:30]:
        experience_required.append(i.text)
        
    driver.close()  
    df = pd.DataFrame({})# creating data frame
    df['job_title'] = post_name[0:10]
    df['job_location'] = experience_required[2::3][0:10]
    df['company_name']= company_name[0:10]
    df['experience_required'] = experience_required[0::3][0:10]
    df.to_csv('A_2_Q3.csv') # Saving csv file
    return(df) # function output

q_3('https://www.naukri.com/jobs-in-india')

,job_title,job_location,company_name,experience_required
0,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,5-8 Yrs
1,Data Scientist/Data Analyst - Python/Machine L...,"Mumbai, Ghaziabad",Change leaders,5-10 Yrs
2,Females Required- Data Scientist- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR",Randstad,3-7 Yrs
3,Data Scientist - Python & Machine Learning,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",FUTURES AND CAREERS,2-7 Yrs
4,Data Scientist - Python & Machine Learning,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",FUTURES AND CAREERS,2-7 Yrs
5,Data Scientist - Python / Machine Learning / T...,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",FUTURES AND CAREERS,3-8 Yrs
6,Data Scientist - Python & Machine Learning,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",FUTURES AND CAREERS,2-7 Yrs
7,Required- Data Scientist (NLP)-Axis Bank - 6 m...,"Kolkata, New Delhi, Hyderabad/Secunderabad, Pu...",Axis Bank Limited,4-9 Yrs
8,Data Scientist - Python / Machine Learning / T...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",FUTURES AND CAREERS,3-8 Yrs
9,Data Scientist - Python & Machine Learning (IS...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",FUTURES AND CAREERS,3-8 Yrs

## Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” 
in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown 
page.

In [5]:
def q_4(url):
    driver = webdriver.Chrome(r"C:\Users\clear\Desktop\webdriver\chromedriver_win32\chromedriver.exe")
    driver.get(url)
    click_signin = driver.find_element_by_xpath("//div[@class = 'locked-home-sign-in']")
    click_signin.click()
    time.sleep(2)
    enter_user_id = driver.find_element_by_id("userEmail")
    enter_user_id.send_keys('dearsun3291@yahoo.co.in')
    enter_password = driver.find_element_by_id("userPassword")
    enter_password.send_keys('Bluesky*1923')
    sign_in = driver.find_element_by_xpath("//button[@class = 'gd-ui-button minWidthBtn css-8i7bc2']")
    sign_in.click()
    time.sleep(3)
    enter_title = driver.find_element_by_xpath("//input[@id = 'sc.keyword']")
    time.sleep(3)
    enter_title.send_keys("Data Scientist")
    time.sleep(3)
    enter_location = driver.find_element_by_id('sc.location')
    for i in range(0,20):
        enter_location.send_keys(Keys.BACK_SPACE)
        
    
    enter_location.send_keys("Noida")
    
    search = driver.find_element_by_xpath("//button[@class = 'gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
    search.click()
    time.sleep(5)
    comp = []
    company_name = driver.find_elements_by_xpath("//a[@class = ' css-l2wjgv e1n63ojh0 jobLink']/span")
    for i in company_name[0:10]:
        comp.append(i.text)
    days = []
    days_posted = driver.find_elements_by_xpath("//div[@class = 'd-flex align-items-end pl-std css-mi55ob']")
    for i in days_posted[0:10]:
        days.append(i.text)
    
    soup = bs(driver.page_source, 'lxml')
    rate = [x.text for x in soup.find_all('span', class_= 'css-19pjha7 e1cjmv6j1')]
    df = pd.DataFrame({})
    df['rating']=rate[:10]
    df['company_name'] = comp[:10]
    df['days_posted']= days[:10]
    df['days_posted'] = df['days_posted'].str.extract('(\d+)')
    driver.close()
    df.to_csv('A_2_Q4.csv')
    return(df)

# calling function q_4 to scraping required data
q_4('https://www.glassdoor.co.in/index.htm')

  rating          company_name days_posted
0    4.0             BlackRock          20
1    4.0             BlackRock          20
2    4.3           Knoldus Inc          24
3    4.4                 Adobe           3
4    4.2       abc consultants           2
5    3.7       Priority Vendor           1
6    3.1  Gauge Data Solutions           1
7    3.8        Biz2Credit Inc          10
8    4.8       Healtheoz India           1
9    5.0              Techlive           7

## Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company 
name, Average salary and rating of the company.
6.Store the data in a dataframe.

In [48]:
def q_5(url):
    driver = webdriver.Chrome(r"C:\Users\clear\Desktop\webdriver\chromedriver_win32\chromedriver.exe")
    driver.get(url)
    enter_title = driver.find_element_by_id("KeywordSearch")
    time.sleep(3)
    enter_title.send_keys("Data Scientist")
    time.sleep(3)
    enter_title = driver.find_element_by_id('LocationSearch')
    enter_title.clear()
    time.sleep(1)
    enter_title.send_keys("Noida(India)")
    search = driver.find_element_by_xpath("//button[@class = 'gd-btn-mkt']")
    search.click()
    time.sleep(3)
    comp = []
    company_name = driver.find_elements_by_xpath("//div[@class = 'row no-gutters mx-0 py align-items-center css-1u4lhyp']")
    for i in company_name[0:10]:
        comp.append(i.text)
    
    driver.close()
    df=pd.DataFrame({})
    df['company_name']=comp[0:10]
    df = pd.DataFrame(df['company_name'].str.split('\n').tolist())
    df.columns = ['Post','company_name','No. of salaries','x4','Avg_Salary(in Rs.)','x6','Max_Salary(in L Rs)','Min_Salary(in L Rs)']
    df= df.drop(['Post','x4','x6'], axis = 1)
    df['No. of salaries'] = df['No. of salaries'].str.extract('(\d+)')
    df['Min_Salary(in L Rs)'] = df['Min_Salary(in L Rs)'].str.extract('(\d+)')
    df['Min_Salary(in L Rs)'] = df['Min_Salary(in L Rs)'].astype(float)/100
    df['Max_Salary(in L Rs)'] = df['Max_Salary(in L Rs)'].str.extract('(\d+)')
    df['Max_Salary(in L Rs)'] = df['Max_Salary(in L Rs)'].astype(float)/100
    df.to_csv('A_2_Q5.csv')
    return(df)

q_5('https://www.glassdoor.co.in/Salaries/index.htm')

,company_name,No. of salaries,Avg_Salary(in Rs.),Max_Salary(in L Rs),Min_Salary(in L Rs)
0,Tata Consultancy Services,14,"₹ 5,97,967",3.33,0.01
1,Accenture,14,"₹ 11,12,243",5.60,0.02
2,Delhivery,14,"₹ 12,12,741",4.36,0.11
3,IBM,13,"₹ 7,37,972",5.69,0.02
4,Ericsson-Worldwide,12,"₹ 7,15,984",3.50,0.01
5,UnitedHealth Group,10,"₹ 13,41,900",0.01,0.01
6,Valiance Solutions,9,"₹ 7,90,812",4.87,0.01
7,Innovaccer,8,"₹ 11,81,047",6.02,0.01
8,ZS Associates,7,"₹ 9,89,924",1.96,0.01
9,EXL Service,7,"₹ 11,73,127",5.58,0.01

## Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it.
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.

In [11]:
def q_6 (url):
    driver = webdriver.Chrome(r"C:\Users\clear\Desktop\webdriver\chromedriver_win32\chromedriver.exe")
    driver.get(url)
    cross_btn = driver.find_element_by_xpath("//div[@class = '_2QfC02']/button")
    cross_btn.click()
    search = driver.find_element_by_xpath("//div[@class = '_3OO5Xc']/input")
    search.clear()
    search.send_keys('sunglasses')
    search_btn = driver.find_element_by_xpath("//button[@class = 'L0Z3Pu']")
    search_btn.click()
    time.sleep(3)
    
    # Scraping url of all tiles
    url_list = []
    for j in range(0,3):
        tile = driver.find_elements_by_xpath("//a[@class= '_2UzuFa']")
        for i in tile:
            url_list.append(i.get_attribute('href'))
            next_btn = driver.find_element_by_xpath("//a[@class = '_1LKTO3']/span")
            if next_btn.text == 'Next':
                next_btn.click()
    # Scraping data from all identified tiles
    brand_name = []
    product_description = []
    price = []
    discount = []
    for i in url_list[0:100]:
        driver.get(i)
        time.sleep(1)
        brand = driver.find_element_by_xpath("//span[@class='G6XhRU']")
        brand_name.append(brand.text)
        des = driver.find_element_by_xpath("//span[@class='B_NuCI']")
        product_description.append(des.text)
        pri = driver.find_element_by_xpath("//div[@class = '_30jeq3 _16Jk6d']")
        price.append(pri.text)
        dis = driver.find_element_by_xpath("//div[@class = '_3Ay6Sb _31Dcoz pZkvcx']")
        discount.append(dis.text)
    
    driver.close()
    #creating data frame
    df = pd.DataFrame({})
    df['brand']= brand_name[0:100]
    df['description']= product_description[0:100]
    df['price']= price[0:100]
    df['discount']= discount[0:100]
    df.to_csv('A_2_Q6.csv')
    return(df)

q_6('https://www.flipkart.com')

,brand,description,price,discount
0,ROYAL SON,UV Protection Retro Square Sunglasses (88) (B...,₹599,70% off
1,ROYAL SON,UV Protection Retro Square Sunglasses (49) (S...,₹664,66% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size) ...,₹758,15% off
3,PIRASO,UV Protection Aviator Sunglasses (54) (Black),₹250,84% off
4,PIRASO,UV Protection Aviator Sunglasses (Free Size) ...,₹349,78% off
...,...,...,...,...
95,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
96,Singco India,UV Protection Round Sunglasses (Free Size) (R...,₹195,80% off
97,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹674,15% off
98,Singco India,UV Protection Aviator Sunglasses (Free Size) ...,₹329,72% off
99,GANSTA,"UV Protection Aviator Sunglasses (57) (Black,...",₹284,85% off

## Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.
As shown in the above page you have to scrape the tick marked attributes.
These are 
1. Rating 
2. Review_summary 
3. Full review
You have to scrape this data for first 100 reviews.

In [12]:
def q_7(url):
    driver = webdriver.Chrome(r"C:\Users\clear\Desktop\webdriver\chromedriver_win32\chromedriver.exe")
    driver.get(url)
    review = driver.find_element_by_xpath("//div[@class = '_3UAT2v _16PBlm']/span")
    review.click()
    time.sleep(1)
    rating = []
    review_summary = []
    review_full = []
    for i in range(0,10):
        soup = bs(driver.page_source, 'lxml')
        rate = [x.text for x in soup.find_all('div', class_ = '_3LWZlK _1BLPMq')]
        short_des = [x.text for x in soup.find_all('p', class_ = '_2-N8zT')]
        review = [x.text for x in soup.find_all('div',class_='t-ZTKy')]
        rating= rating+rate
        review_summary= review_summary+ short_des
        review_full= review_full + review
        next_btn = driver.find_element_by_xpath("//a[@class = '_1LKTO3']/span")
        if next_btn.text =='Next':
            next_btn.click()
        time.sleep(3)
    driver.close()
    df = pd.DataFrame({})
    df['rating']= rating
    df['review_summary']=review_summary
    df['review']= review_full
    df.to_csv('A_2_Q7.csv')
    return(df)

q_7('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes%02earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC')

,rating,review_summary,review
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Worth every penny,Previously I was using one plus 3t it was a gr...
3,5,Great product,Amazing Powerful and Durable Gadget.I’m am ver...
4,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
...,...,...,...
95,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
96,5,Perfect product!,Value for money❤️❤️Its awesome mobile phone in...
97,5,Fabulous!,This is my first iOS phone. I am very happy wi...
98,5,Wonderful,*Review after 10 months of usage*Doesn't seem ...
99,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...

## Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.

In [13]:
def q_8(url):
    driver = webdriver.Chrome(r"C:\Users\clear\Desktop\webdriver\chromedriver_win32\chromedriver.exe")
    driver.get(url)
    cross_btn = driver.find_element_by_xpath("//div[@class = '_2QfC02']/button")
    cross_btn.click()
    search = driver.find_element_by_xpath("//div[@class = '_3OO5Xc']/input")
    search.clear()
    search.send_keys('sneakers')
    search_btn = driver.find_element_by_xpath("//button[@class = 'L0Z3Pu']")
    search_btn.click()
    time.sleep(3)
      # Scraping url of all tiles
    url_list = []
    for j in range(0,3):
        tile = driver.find_elements_by_xpath("//a[@class= '_2UzuFa']")
        for i in tile:
            url_list.append(i.get_attribute('href'))
            next_btn = driver.find_element_by_xpath("//a[@class = '_1LKTO3']/span")
            if next_btn.text == 'Next':
                next_btn.click()
                
    
        # Scraping data from all identified tiles
    brand_name = []
    product_description = []
    price = []
    discount = []
    for i in url_list[0:100]:
        driver.get(i)
        time.sleep(1)
        brand = driver.find_element_by_xpath("//span[@class='G6XhRU']")
        brand_name.append(brand.text)
        des = driver.find_element_by_xpath("//span[@class='B_NuCI']")
        product_description.append(des.text)
        pri = driver.find_element_by_xpath("//div[@class = '_30jeq3 _16Jk6d']")
        price.append(pri.text)
        dis = driver.find_element_by_xpath("//div[@class = '_3Ay6Sb _31Dcoz pZkvcx']")
        discount.append(dis.text)
    
    driver.close()
    #creating data frame
    df = pd.DataFrame({})
    df['brand']= brand_name[0:100]
    df['description']= product_description[0:100]
    df['price']= price[0:100]
    df['discount']= discount[0:100]
    df.to_csv('A_2_Q8.csv')
    return(df)
      

q_8('https://www.flipkart.com')

,brand,description,price,discount
0,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹499,72% off
1,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men...,₹399,60% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹474,76% off
3,ORICUM,Combo pack of 2 casual sneaker shoes for men S...,₹398,60% off
4,aadi,Sneakers For Men (Black),₹298,70% off
...,...,...,...,...
95,ROCKFIELD,Sneakers For Men (Black),₹396,60% off
96,HOTSTYLE,Sneakers For Men (Red),₹199,60% off
97,Chevit,171 Smart Tan Lace-Ups Casuals for Men Sneaker...,₹211,57% off
98,Magnolia,White Sneakers Sneakers For Men (White),₹323,67% off
99,Echor,shoes for boys Sneakers For Men (Multicolor),₹570,42% off

## Q9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [8]:
from selenium.common.exceptions import StaleElementReferenceException

def q_9(url):
    driver = webdriver.Chrome(r"C:\Users\clear\Desktop\webdriver\chromedriver_win32\chromedriver.exe")
    driver.get(url)
    time.sleep(2)
    y = driver.find_element_by_xpath("//li[@class = 'colour-listItem']/label[1]")
    y.click()
    time.sleep(2)
    x = driver.find_element_by_xpath("//ul[@class = 'price-list']/li[2]/label")
    x.click()
    time.sleep(2)
    links = []
    for j in range(1,4):
        try:
            link = driver.find_elements_by_xpath("//a[@target = '_blank']")
            for i in link:
                links.append(i.get_attribute('href'))
        except StaleElementReferenceException:
            links.append(np.NaN)
    
        next_btn = driver.find_element_by_xpath("//a[@rel = 'next']")
        if next_btn.text == 'Next':
            next_btn.click()

            
    brand =[]
    short_des =[]
    price = []
    for i in links[0:100]:
        driver.get(i)
        brands = driver.find_elements_by_xpath("//h1[@class = 'pdp-title']")
        des = driver.find_elements_by_xpath("//h1[@class = 'pdp-name']")
        pri = driver.find_elements_by_xpath("//span[@class = 'pdp-price']/strong")
        for j in brands:
            brand.append(j.text)
        
        for j in des:
            short_des.append(j.text)
    
        for j in pri:
            price.append(j.text)
        

    driver.close()
    df = pd.DataFrame({})
    df['brand']= brand
    df['short_des']= short_des
    df['price']= price
    df.to_csv('A_2_Q9.csv')
    return(df)

q_9('https://www.myntra.com/shoes')

,brand,short_des,price
0,ALDO,Men Black Leather Loafers,Rs. 7799
1,Nike,Men Black AIR ZOOM VOMERO 15 Running Shoes,Rs. 10121
2,PUMA Motorsport,Unisex Black Mercedes Drift Cat 8 Running Shoes,Rs. 7999
3,Nike,Men Black KD13 EP Mid-Top Basketball Shoes,Rs. 12995
4,Nike,Women Black AIR ZOOM PEGASUS 37 FLYEASE Runnin...,Rs. 6996
...,...,...,...
95,Nike,Women Black AIR MAX VIVA Sneakers,Rs. 9996
96,Florsheim,Men Black Solid Leather Formal Derbys,Rs. 6995
97,Cole Haan,Women Black Solid Sandals,Rs. 7499
98,Puma,Women Black SPEED Orbiter Running Shoes,Rs. 7149
99,UNDER ARMOUR,Women Black TriBase Reign 2 Woven Design Train...,Rs. 11999